.Navlinks {
  width: 100%;
}
.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}
.navIcons > a > img {
  width: 1.5rem;
  height: 1.5rem;
  transition-duration: 250ms;
}
.navIcons > a > img:hover {
  transform: scale(1.3);
}
